<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.EventMapper">
    <resultMap id="EventMap" type="Event">
        <id column="id" property="id"/>
        <result column="title" property="title"></result>
        <result column="detail" property="detail"></result>
        <result column="start_date" property="startDate"></result>
        <result column="end_date" property="endDate"></result>
        <result column="is_active" property="isActive"></result>
    </resultMap>

    <select id="findAll" resultMap="EventMap">
        select * from event
    </select>

    <insert id="insert" parameterType="Event" useGeneratedKeys="true" keyProperty="id">
        insert into event(title, detail, start_date, end_date, is_active) values(#{title}, #{detail}, #{startDate},
        #{endDate}, #{isActive})
    </insert>
</mapper>